<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="inputDirectory_1" value="c:\ServiceImageMerger\InputDir\scanDir1\" />
    <add key="outputDirectory_1" value="c:\ServiceImageMerger\OutputDir\scanDir1\" />
    <add key="inputDirectory_2" value="c:\ServiceImageMerger\InputDir\scanDir2\" />
    <add key="outputDirectory_2" value="c:\ServiceImageMerger\OutputDir\scanDir2\" />
    <add key="delayTimeNewFile" value="30" />
  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="false">
    <targets>
      <target name="infoFile" xsi:type="File" layout="${longdate} ${pad:padding=5:inner=${level:uppercase=true}} ${message}" fileName="${basedir}/logs/${shortdate}_trace.log" keepFileOpen="false" encoding="utf-8" />
      <target name="errorFile" xsi:type="File" layout="${longdate} ${pad:padding=5:inner=${level:uppercase=true}} ${message}" fileName="${basedir}/logs/${shortdate}_error.log" keepFileOpen="false" encoding="utf-8" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="infoFile" />
      <logger name="*" minlevel="Warn" maxlevel="Fatal" writeTo="errorFile" />
    </rules>
  </nlog>
</configuration>