<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="NLog" version="4.3.7" targetFramework="net452" />
  <package id="PDFsharp-MigraDoc-GDI" version="1.32.4334.0" targetFramework="net45" />
  <package id="Topshelf" version="4.0.1" targetFramework="net452" />
  <package id="Topshelf.NLog" version="4.0.1" targetFramework="net452" />
</packages>