<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--конфигурация папок для Clienta1 - надо создать директории с такими именами-->
    <add key="inputDirectory_1" value="c:\ServiceImageMerger\InputDir\Client1\scanDir1\" />
    <add key="outputDirectory_1" value="c:\ServiceImageMerger\OutputDir\Client1\scanDir1\" />
    <add key="inputDirectory_2" value="c:\ServiceImageMerger\InputDir\Client1\scanDir2\" />
    <add key="outputDirectory_2" value="c:\ServiceImageMerger\OutputDir\Client1\scanDir2\" />
    <add key="delayTimeNewFile" value="30" />

    <!--конфигурация для Clienta1 - надо создать очереди с такими именами на MSMQ и папку с которой файлы будут уходить в очередь MSMQ (или запустить сначала Сервер - он сам их создаст)-->
    <add key="clientName" value="Client1" />
    <add key="MSMQ_messageToServer" value=".\Private$\messageToServer_Client1" />
    <add key="MSMQ_messageFromServer" value=".\Private$\messageFromServer_Client1" />
    <add key="MSMQ_OutputFilesDirectory" value="c:\ServiceImageMerger\OutputSendFiles\Client1\" />
    <add key="delayTimeMSMQueueConnect" value="5" />
    <add key="fileMessagePartSize" value="1048576" />

    <!--конфигурация папок для Clienta2 - надо создать директории с такими именами-->
    <!--<add key="inputDirectory_1" value="c:\ServiceImageMerger\InputDir\Client2\scanDir1\" />
    <add key="outputDirectory_1" value="c:\ServiceImageMerger\OutputDir\Client2\scanDir1\" />
    <add key="inputDirectory_2" value="c:\ServiceImageMerger\InputDir\Client2\scanDir2\" />
    <add key="outputDirectory_2" value="c:\ServiceImageMerger\OutputDir\Client2\scanDir2\" />
    <add key="delayTimeNewFile" value="30" />-->

    <!--конфигурация для Clienta2 - надо создать очереди с такими именами на MSMQ и папку с которой файлы будут уходить в очередь MSMQ (или запустить сначала Сервер - он сам их создаст)-->
    <!--<add key="clientName" value="Client2" />
    <add key="MSMQ_messageToServer" value=".\Private$\messageToServer_Client2" />
    <add key="MSMQ_messageFromServer" value=".\Private$\messageFromServer_Client2" />
    <add key="MSMQ_OutputFilesDirectory" value="c:\ServiceImageMerger\OutputSendFiles\Client2\" />
    <add key="delayTimeMSMQueueConnect" value="5" />
    <add key="fileMessagePartSize" value="1048576" />-->

  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="false">
    <targets>
      <target name="infoFile" xsi:type="File" layout="${longdate} ${pad:padding=5:inner=${level:uppercase=true}} ${message}" fileName="${basedir}/logs/${shortdate}_trace.log" keepFileOpen="false" encoding="utf-8" />
      <target name="errorFile" xsi:type="File" layout="${longdate} ${pad:padding=5:inner=${level:uppercase=true}} ${message}" fileName="${basedir}/logs/${shortdate}_error.log" keepFileOpen="false" encoding="utf-8" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="infoFile" />
      <logger name="*" minlevel="Warn" maxlevel="Fatal" writeTo="errorFile" />
    </rules>
  </nlog>
</configuration>