<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--конфигурация папок и очередей для Clienta1 - надо создать директории с такими именами, очереди будем создавать в автомате при их отсутствии-->
    <add key="clientName_1" value="Client1" />
    <add key="MSMQoutputDirectory_Client1" value="c:\ServiceImageMerger\OutputDir\Server\Client1\" />
    <add key="MSMQmessageToServer_Client1" value=".\Private$\messageToServer_Client1" />
    <add key="MSMQmessageFromServer_Client1" value=".\Private$\messageFromServer_Client1" />

    <!--конфигурация папок и очередей для Clienta2 - надо создать директории с такими именами, очереди будем создавать в автомате при их отсутствии-->
    <add key="clientName_2" value="Client2" />
    <add key="MSMQoutputDirectory_Client2" value="c:\ServiceImageMerger\OutputDir\Server\Client2\" />
    <add key="MSMQmessageToServer_Client2" value=".\Private$\messageToServer_Client2" />
    <add key="MSMQmessageFromServer_Client2" value=".\Private$\messageFromServer_Client2" />

    <add key="delayTimeMSMQueueConnect" value="5" />
    <add key="fileMessagePartSize" value="1048576" />

  </appSettings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true" throwExceptions="false">
    <targets>
      <target name="infoFile" xsi:type="File" layout="${longdate} ${pad:padding=5:inner=${level:uppercase=true}} ${message}" fileName="${basedir}/logs/${shortdate}_trace.log" keepFileOpen="false" encoding="utf-8" />
      <target name="errorFile" xsi:type="File" layout="${longdate} ${pad:padding=5:inner=${level:uppercase=true}} ${message}" fileName="${basedir}/logs/${shortdate}_error.log" keepFileOpen="false" encoding="utf-8" />
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="infoFile" />
      <logger name="*" minlevel="Warn" maxlevel="Fatal" writeTo="errorFile" />
    </rules>
  </nlog>
</configuration>